p {
    font-size: var(--data-point-value-font-size);
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.view-article {
    font-size: 16px;
    font-weight: normal;
}
