<mat-action-list>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        All
    </button>
</mat-action-list>
<mat-action-list>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
    <button mat-list-item style="background-color:var(--secondary-accent-color); font: var(--primary-font); border-radius:4px; margin-bottom:3px;">
        Save 
    </button>
</mat-action-list>