<div class="button-container">
    <button mat-button class="card-side-button card-side-button-top" (click)="this.up.emit()">
        <mat-icon> keyboard_arrow_up </mat-icon>
    </button>
    <button mat-button class="card-side-button card-side-button-middle" (click)="this.delete.emit()">
        <mat-icon> delete </mat-icon>
    </button>
    <button mat-button class="card-side-button card-side-button-bottom" (click)="this.down.emit()">
        <mat-icon> keyboard_arrow_down </mat-icon>
    </button>
</div>
