<div [ngClass]="useTopBar ? 'topbar-app-skeleton' : 'app-skeleton'">
    <app-skeleton-top-bar (openMenu)="toggleMenu()" *ngIf="useTopBar" />
    <mat-drawer-container [hasBackdrop]="isMobileSize()">
        <mat-drawer 
            #sidenav 
            position="start" 
            [mode]="isMobileSize() ? 'over' : 'side'" 
            [disableClose]="!isMobileSize()" 
            [ngClass]="skeletonService.labels ? 'nav-sidebar' : 'nav-sidebar-small'" 
            [opened]="this.skeletonService.toggleSidebarSubject.value"
            (closed)="this.skeletonService.toggleSidebarSubject.next(false)"
        >
            <app-skeleton-nav-bar />
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div>