/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';*/
@import './theme.css';
@import '~leaflet/dist/leaflet.css';
@font-face {
    font-family: 'IM Fell English';
    src: url('./assets/fonts/IMFellEnglish-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* --------------- */
/* Variables       */
/* --------------- */

:root {
    --primary-color: rgba(71, 59, 59, 1);
    --primary-color-selected: rgba(90, 76, 75, 1);
    --inverted-text-color: rgb(44, 39, 39);
    --inverted-text-color-disabled: rgb(121, 102, 102);
    --text-color: rgba(255, 255, 255, 1);
    --text-color-disabled: rgba(255, 255, 255, 0.5);
    --secondary-text-color: rgba(200, 200, 200, 1);
    --primary-accent-color: rgb(255, 236, 235);
    --primary-accent-color-disabled: rgb(196, 179, 178);
    --secondary-accent-color: rgb(102, 83, 82);
    --secondary-accent-color-disabled: rgb(66, 52, 52);
    --secondary-accent-color-selected: rgb(155, 95, 89);
    --background-color: rgb(218, 197, 192);
    --secondary-background-color: rgb(48, 34, 34);
    --field-overlay-color: rgba(46, 28, 27, 0.25);
    --field-overlay-color-dark: rgba(14, 8, 7, 0.5);
    --destructive-action-color: rgb(119, 0, 0);
    --primary-font: 'IM Fell English';
    --font-weight-bold: bold;
    --data-point-value-font-size: 20px;

    --button-circular-loading-indicator-size: 30px;
    --button-circular-loading-indicator-stroke: 200px;

    --disabled-color: var(--primary-color);

    --mdc-theme-surface: var(--primary-color) !important;
    --mdc-theme-primary: var(--primary-color) !important;
    --mdc-theme-secondary: var(--primary-color) !important;
    --mdc-typography-body2-font-family: var(--primary-font !important);
    --mdc-typography-font-family: var(--primary-font) !important;
    --mdc-typography-subtitle2-font-family: var(--primary-font) !important;
}

/* --------------- */
/* Scrollbar       */
/* --------------- */

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    margin: 8px;
    padding: 8px;
    background-color: #00000000;
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--secondary-accent-color);
    border-radius: 4px;
}

/* --------------- */
/* Body            */
/* --------------- */

body {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    color: var(--text-color);
}

/* ------------------- */
/* Material Components */
/* ------------------- */

/* Buttons */

button.mat-mdc-button {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    font-family: var(--primary-font);
}

.primary-button {
    background-color: var(--primary-accent-color);
    font-weight: bold;
    color: var(--inverted-text-color);
}

.secondary-button {
    background-color: var(--secondary-accent-color);
}

.destructive-button {
    background-color: var(--destructive-action-color) !important;
}

.button-loading {
    stroke: var(--primary-accent-color);
    width: var(--button-circular-loading-indicator-size) !important;
    height: var(--button-circular-loading-indicator-size) !important;
}

.primary-button-loading {
    stroke: var(--secondary-accent-color);
    width: var(--button-circular-loading-indicator-size) !important;
    height: var(--button-circular-loading-indicator-size) !important;
}

.info-loading {
    stroke: var(--primary-accent-color);
    width: 100px !important;
    height: 100px !important;
}

.corner-button {
    margin-right: 15px; 
    margin-top: 15px;
}

.corner-button-container {
    float: right;
}

.bottom-corner-button {
    margin-left: 10px;
}

.bottom-corner-button-container {
    display: flex;
    justify-content: flex-end;
}

mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
}

/* Cards */

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.pad-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

.mat-mdc-card-actions {
    margin-top: auto;
}

h1 {
    text-align: center;
}

.horizontal-card-container {
    display: flex;
}

.horizontal-card {
    display: flex;
    flex: 1;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.header-image {
    width: 45px;
    height: 45px;
}

.mat-expansion-panel {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
}

p {
    font-family: var(--primary-font);
    margin: 10px;
    color: var(--text-color);
}

.mat-mdc-select-panel {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
}

.mat-mdc-option {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
}

.mat-mdc-form-field {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
}

.leaflet-popup-content-wrapper {
    background-color: var(--primary-color); 
    color:  var(--text-color);
    font-family: var(--primary-font);
    font-size: 15px;
    text-align: center;
}

.leaflet-popup-tip {
    pointer-events: none;
    background-color: var(--primary-color);
}

::ng-deep .mat-mdc-dialog-container {
    background-color: #f0f0f0;
}

.error-toast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: var(--text-color);
}

.subtitled-title {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 100px;
}

.subtitle {
    margin-top: 0px;
    padding-left: 10px;
    color: var(--secondary-text-color);
}

/* --------------- */
/* NGX Text Editor */
/* --------------- */
  
.NgxEditor__Wrapper {
    border: 0px !important;
}

.NgxEditor__MenuBar {
    color: var(--primary-accent-color);
    background-color: var(--primary-color) !important;
}

.NgxEditor__MenuItem {
    color: var(--primary-accent-color);
    background-color: var(--secondary-accent-color);
}

.NgxEditor__Seperator {
    border-left: 3px solid var(--secondary-accent-color) !important;
}

/*
ngx-editor-menu {
    color: red;
    background-color: red;
}

ngx-editor {
    color: red;
    background-color: red;
}*/

.leaflet-bar {
    /*margin-top: 130px !important;*/
    border: 0px;
}

.leaflet-bar a {
    color: var(--text-color);
    background-color: var(--primary-color);
}
