.topbar-button {
    margin: 7px;
    min-width: 100px;
}

.topbar-icon-button {
    margin: 5px;
}

.topbar-container {
    width: 100%; 
    height: 51px; 
    background-color: var(--primary-color); 
    display: grid; 
    grid-template-columns: min-content auto min-content;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000;
}