<div class="screen-container">
  <div class="top-actions-container">
    <div style="display: flex">
      <button mat-icon-button (click)="skeletonService.toggleSidebar()" style="margin-top: 5px; margin-right: 15px;">
        <mat-icon>
            menu
        </mat-icon>
      </button>
      <h2 style="margin-top: 10px; margin-bottom: 0px;">{{pageName}}</h2>
    </div>
    <div style="display: flex">
      <div style="margin-right: 10px; display: flex;">
        <button mat-icon-button class="icon-button" matTooltip="Add" *ngIf="(pageMode === 'units' || pageMode === 'measurables' || pageMode === 'calendars')"  requireRole [role]="'Library.Setup.Units'" (click)="doAdd()">
          <mat-icon> add </mat-icon>
        </button>
      </div>
      
      <mat-button-toggle-group name="pageMode" [value]="pageMode" class="toggle-group" >
        <mat-button-toggle value="units" matTooltip="Units" (click)="setPageMode('units', 'Units')">
          <mat-icon> design_services </mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="measurables" matTooltip="Measurables" (click)="setPageMode('measurables', 'Measurables')">
          <mat-icon> straighten </mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="convert" matTooltip="Convert" (click)="setPageMode('convert', 'Convert')">
          <mat-icon> autorenew </mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <app-unit-tables *ngIf="pageMode === 'units'" (convert)="convert($event)" />
  <app-view-measurables *ngIf="pageMode === 'measurables'" />
  <app-unit-converter *ngIf="pageMode === 'convert'" />
</div>