<div class="bar-timeline-background" [ngClass]="bottomPanelOpen ? 'bar-timeline-bottom-panel' : 'bar-timeline-no-bottom-panel'">
    <div class="timeline-panel">
        <div *ngFor="let lane of lanes; index as i" class="row-wrapper">
            <p> {{lane.objectType.name}} </p>
            <div class="row-items">
                <div *ngFor="let item of lane.items" class="row-items" style="width: 0">
                    <div class="ladder-row"></div>
                    <mat-card class="ladder-row-item" style="position: relative;" [style.minWidth]="(item.endDisplay - item.startDisplay) + 'px'" [style.left]="item.startDisplay + 'px'">
                        <div class="ladder-row-display">
                            {{item.object.name}}
                        </div>
                        
                    </mat-card>
                </div>
                <div class="ladder-row-final"></div>
            </div>
            
        </div>
    </div>
    <div class="bottom-panel">
        
    </div>
</div>