.bar-timeline-background {
    background-color: var(--secondary-background-color);
    width: 100%;
    height: 100%;
    overflow: auto;
}

.bar-timeline-no-bottom-panel {
    display: block;
}

.bar-timeline-bottom-panel {
    display: grid;
    grid-template-rows: auto 250px;
}

.timeline-panel {
    overflow: auto;
}

.bottom-panel-container {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: auto min-content;
    grid-gap: 10px;
    padding: 10px;
}

.bottom-panel-nav {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-gap: 10px;
}

.bottom-panel-edit {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 10px;
}

.row-wrapper {
    padding-top: 20px;
    width: inherit;
    overflow: visible;
}

.row-items {
    display: flex;
    width: inherit;
}

.row-name {
    /*position: fixed;*/
    left: 10px;
}

.ladder-row {
    position: relative;
    top: 20px;
    height: 1px;
    background-color: var(--secondary-text-color);
}

.ladder-row-final {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    background-color: var(--secondary-text-color);
}

.ladder-row-item {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 100px;
    background-color: var(--primary-color);
    overflow: hidden;
}

.ladder-row-display {
    padding: 5px;
    padding-left: 8px;
}

.no-margin-header {
    margin-top: 0px;
    margin-bottom: 0px;
}
