.screen-container {
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
    padding-bottom: 10px;
}

.list-picker-container {
    display: grid;
    grid-template-rows: 60px 750px;
    max-height: 100%; 
    height: 100%;
}

.top-actions-container {
    display: grid;
    grid-template-columns: auto min-content;
    border-radius: 0 0 30px 30px;
    padding: 10px;
    padding-right: 30px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: var(--lib-primary-color);
    z-index: 100;
    margin-bottom: 20px;
    height: 45px;
    border-left: var(--lib-primary-outline-width) var(--lib-primary-outline-style) var(--lib-primary-outline-color);
    border-bottom: var(--lib-primary-outline-width) var(--lib-primary-outline-style) var(--lib-primary-outline-color);
    border-right: var(--lib-primary-outline-width) var(--lib-primary-outline-style) var(--lib-primary-outline-color);
}

.icon-button {
    margin: 5px;
}