<div class="corner-button-container">
    <button mat-icon-button class="corner-button" (click)="onAdd()" matTooltip="New Map" requireRole [role]="'Library.Map'">
        <mat-icon>
            library_add
        </mat-icon>
    </button>
    <button mat-icon-button class="corner-button" (click)="onCancel()" matTooltip="Close">
        <mat-icon>
            close
        </mat-icon>
    </button>
</div>
<mat-card-header>
    <mat-card-title>
        <h2>Select a Map</h2>
    </mat-card-title>
</mat-card-header>
<mat-card-content>
    <div style="margin-bottom: 10px;">
        <app-search-bar (search)="onSearch($event)" [disabled]="loading"></app-search-bar>
    </div>
    <div class="map-card-container" *ngIf="!loading">
        <div *ngFor="let map of maps" class="map-card" (mouseover)="map.selected=true" (mouseout)="map.selected=false">
            <mat-card (click)="onSelect(map)" style="width: 154px; height: 154px;">
                <mat-icon *ngIf="map.iconId === null" class="icon-over"> map </mat-icon>
                <div class="image">
                    <img [src]="map.iconId | thumbnail | async"  *ngIf="map.iconId != null"/>
                </div>
                <div class="label-over">
                    <p> {{ map.name | valueShorten: 18:1 }} </p>
                </div>
            </mat-card>
        </div>
    </div>
    <mat-progress-spinner *ngIf="loading" class="info-loading" mode="indeterminate" style="margin-left: auto; margin-right: auto; margin-top: 100px; margin-bottom: 100px"></mat-progress-spinner>
    <mat-paginator 
        [length]="length"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)">
    </mat-paginator>
</mat-card-content>
