<div class="world-list-container">
    <mat-card class="world-list-item" *ngFor="let world of worlds" (mouseover)="world.selected=true" (mouseout)="world.selected=false" (click)="onSelect(world)">
        <mat-icon *ngIf="world.iconId == null" class="icon-over"> public </mat-icon>
        <div class="image">
            <img [src]="url + '/Library/Image/Icon?id=' + world.iconId + '&world=' + world.location" *ngIf="world.iconId"/>
        </div>
        <div class="label-over">
            <p> {{ world.name | valueShorten: 18:1 }} </p>
        </div>
        <mat-card class="select-overlay" *ngIf="world.selected && !editing">
            <mat-icon class="icon-over" style="top: calc(50% - 12px);">arrow_forward</mat-icon>
        </mat-card>
        <mat-card class="select-overlay" *ngIf="world.selected && editing">
            <mat-icon class="icon-over" style="top: calc(50% - 12px);">edit</mat-icon>
        </mat-card>
    </mat-card>
</div>