<div style="display: grid; grid-template-columns: auto 55px;">
    <h3>Location Types</h3>
    <button mat-icon-button matTooltip="Add Location Type" (click)="addLocationType()" *ngIf="loginService.isLoggedIn()">
        <mat-icon> add </mat-icon>
    </button>
</div>
<app-search-bar (valueChanged)="onSearch($event)" [onTyping]="true"></app-search-bar>
<mat-card style="margin-top: 10px; background-color: var(--secondary-background-color)">
    <mat-card-content>
        <div style="display: grid; grid-template-columns: 40px auto;">
            <mat-checkbox  [indeterminate]="someSelected" [checked]="allSelected" (change)="setAllSelected(!allSelected)"></mat-checkbox>
            <p style="margin-left: 5px; margin-top: auto; margin-bottom: auto;">Selected: {{locationTypesSelectedCount}}</p>
        </div>
        <div *ngFor="let locationType of locationTypesFiltered" class="location-type-item">
            <mat-checkbox class="location-type-item-checkbox" [checked]="locationType.selected" (change)="select(locationType)"></mat-checkbox>
            <mat-card class="location-type-item-card">
                <img [src]="locationType.iconURL"  *ngIf="locationType.iconURL"/> 
                <div *ngIf="!locationType.iconURL" class="image-placeholder"> 
                    <mat-icon> location_on </mat-icon>
                </div>
                <h5>{{locationType.name}}</h5>
                <button mat-icon-button (click)="editLocationType(locationType)" *ngIf="loginService.isLoggedIn()">
                    <mat-icon> edit </mat-icon>
                </button>
            </mat-card>
        </div>
    </mat-card-content>
    <mat-paginator 
        style="background-color: var(--secondary-background-color)"
        [length]="length"
        [pageIndex]="locationTypeQuery.pageNumber"
        [pageSize]="locationTypeQuery.pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"></mat-paginator>
</mat-card>