<app-top-bar></app-top-bar>
<div>
    <div class="container">
        <h1>
            The Libraries
        </h1>
        <mat-card style="height: 500px; margin: 20px;">

        </mat-card>
        
        <h2 style="margin: 20px;">My Worlds</h2>
        <div style="margin: 20px;">
            <app-world-list [worldCriteria]="{ownerId: userId}" (selected)="navigateToWorld($event)" />
        </div>
        <h2 style="margin: 20px;">Saved Worlds</h2>
        <div style="margin: 20px;">
            <app-world-list  (selected)="navigateToWorld($event)" />
        </div>
        <h2 style="margin: 20px;">Featured Worlds</h2>
        <div style="margin: 20px;">
            <app-world-list  (selected)="navigateToWorld($event)" />
        </div>
    </div>
</div>