<app-edit-string [parameterName]="'Map Name'" [parameterSummary]="'The title that this map will go by.'" [required]="true" [control]="name"></app-edit-string>
<app-edit-summary [parameterName]="'Map Summary'" [parameterSummary]="'A brief description of this map.'" [control]="summary"></app-edit-summary>
<div *ngIf="!adding">
    <mat-divider></mat-divider>
    <app-edit-bool [parameterName]="'Loop'" [parameterSummary]="'Whether or not this is a map that loops left-to-right. Good for maps of entire planets.'" [control]="loops" [required]="true"></app-edit-bool>
    <mat-divider></mat-divider>
    <div style="display: grid; grid-template-columns: 0.5fr 0.5fr;">
        <div style="padding-right: 10px;">
            <app-edit-double [parameterName]="'Default Latitude'" [control]="defaultY" [required]="true"></app-edit-double>
        </div>
        <div>
            <app-edit-double [parameterName]="'Default Longitude'" [control]="defaultX" [required]="true"></app-edit-double>
        </div>
    </div>
    <app-edit-int [parameterName]="'Default Zoom'" [control]="defaultZ " [required]="true"></app-edit-int>
    <mat-divider></mat-divider>
    <div style="display: grid; grid-template-columns: 0.5fr 0.5fr;">
        <div style="padding-right: 10px;">
            <app-edit-int [parameterName]="'Minimum Zoom Level'" [parameterSummary]="'The farthest out a viewer can zoom out on this map.'" [control]="minZoom" [required]="true"></app-edit-int>
        </div>
        <div>
            <app-edit-int [parameterName]="'Maximum Zoom Level'" [parameterSummary]="'The closest in a viewer can zoom in on this map.'" [control]="maxZoom" [required]="true"></app-edit-int>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<app-edit-bool [parameterName]="'Default Map'" [parameterSummary]="'Whether or not this is the default map users will see upon entering the map screen.'" [control]="isDefault" [required]="true"></app-edit-bool>
<div style="float: right; margin-top: 70px;">
    <button mat-button style="margin-left: 10px;" (click)="cancel.emit();">
        Cancel
    </button>

    <button mat-button style="margin-left: 10px;" color="primary" (click)="handleSave()">
        Save
    </button>
</div>