<app-top-bar></app-top-bar>
<div class="centered-div">
    <mat-card >
        <mat-card-header>
            <mat-card-title> Register </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-edit-string [parameterName]="'Username'" [control]="userName"></app-edit-string>
            <app-edit-string [parameterName]="'Email'" [control]="email"></app-edit-string>
            <app-edit-string [parameterName]="'Password'" [control]="password"></app-edit-string>
            <app-edit-string [parameterName]="'Confirm Password'" [control]="confirmPassword"></app-edit-string>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="primary" (click)="register()" [disabled]="!canLogIn()">Register</button>
        </mat-card-actions>
    </mat-card>
</div>