<div #container class="view-param-container">
    <h4 class="subtitled-title"> {{ parameter.typeParameterName }} </h4>
    <h5 class="subtitle"> {{ parameter.typeParameterSummary }} </h5>
    <mat-accordion *ngIf="document">
        <mat-expansion-panel>
            <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
                <mat-panel-title>
                    {{document.name}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <app-document-presentation
                    [id]="document.id ?? -1" 
                    [showEditControls]="false"
                    [showLinkToSelf]="true" 
                    style="margin-left: 0px;" 
                    [dialogRef]="dialogRef"
                />
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
    <div *ngIf="!document">
        None
    </div>
    
    <mat-divider *ngIf="viewDivider" style="margin-top: 10px; margin-bottom: 10px"></mat-divider>
</div>
