@media (max-width: 1000px) {
    .converter-container {
        margin: 100px;
        display: grid;
    }
}

@media (min-width: 1000px) {
    .converter-container {
        margin: 10px auto 0 auto;
        padding: 0 25px 0 25px;
        max-width: 1500px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
    }
}