<div class="fill-absolute">
    <app-page-view-element 
        *ngIf="element && element.children && element.children[0]" 
        [element]="element.children[0]" 
        class="fill-absolute hl-margined" 
        [style]="(settingsObject && settingsObject['Orientation'] == 'Horizontal' ? 'bottom: calc(' + getSize(0) + ' + 5px);' : 'right: calc(' + getSize(0) + ' + 5px)')"
    />  
    <app-page-view-element 
        *ngIf="element && element.children && element.children[1]" 
        [element]="element.children[1]" 
        class="fill-absolute hl-margined" 
        [style]="(settingsObject && settingsObject['Orientation'] == 'Horizontal' ? 'top: calc(' + getSize(1) + ' + 5px);' : 'left: calc(' + getSize(1) + ' + 5px)')"
    />  
</div>