.document-screen-container {
    display: grid;
    grid-template-columns: 57px auto;
    background-color: var(--secondary-background-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
}

.document-type-container {
    height: 1fr;
    margin: 5px;
    overflow-y: auto;
    background-color: var(--primary-color);
}

.document-type-grid {
    display: grid;
    grid-template-rows: 50px auto 65px;
    bottom: 100px;
    overflow-y: auto;
}

.search-grid {
    overflow-y: auto;
}

.document-list-container {
    margin: 5px;
    overflow-y: auto;
    background-color: var(--primary-color);
}

.document-list-grid {
    display: grid;
    grid-template-rows: auto 65px;
    bottom: 100px;
    overflow-y: auto;
}

.document-view-container {
    margin: 5px;
    padding: 10px;
    overflow-y: auto;
    background-color: var(--primary-color)
}

.document-view-grid {
    display: grid;
    grid-template-rows: auto;
    bottom: 100px;
    overflow-y: auto;
}

.paginator-container {
    margin: 5px;
}

.paginator {
    margin: 2px;
    height: 10px;
    background-color: var(--primary-color);
}

.button-holder-wrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    overflow: hidden;
}

.button-holder {
    margin-top: 5px;
    margin-left: 3px;
    .button {
        margin: 5px;
    }
}