
<div class="document-screen-container">
    <div class="button-holder-wrapper">
        <div class="button-holder">
            <button mat-icon-button class="button" (click)="skeletonService.toggleSidebar()">
                <mat-icon> menu </mat-icon>
            </button>
            <button mat-icon-button class="button" (click)="setDisplayMode('search')">
                <mat-icon> search </mat-icon>
            </button>
            <button mat-icon-button class="button" (click)="setDisplayMode('results')" *ngIf="!wideScreen">
                <mat-icon> file_copy </mat-icon>
            </button>
            <button mat-icon-button class="button" (click)="setDisplayMode('view')" *ngIf="!wideScreen">
                <mat-icon> description </mat-icon>
            </button>
            <button mat-icon-button class="button" (click)="setDisplayMode('add')" *ngIf="loginService.userHasAnyOfRoles(['Administrator', 'Editor'])">
                <mat-icon> add </mat-icon>
            </button>
        </div>
    </div>
    <div class="document-views" *ngIf="displayMode === 'search' || displayMode === 'results' || displayMode === 'view'">
        <div [hidden]="displayMode !== 'search' && !canSeeFullSearch()">
            <app-document-filter #documentFilterComponent (search)="onSearch($event)" />
        </div>
        <div [hidden]="displayMode !== 'results' && !canSeeFullSearch()">
            <app-document-list #documentListComponent (select)="loadDocument($event)" (doubleSelect)="pushDocument($event)" />
        </div>
        <div [hidden]="displayMode !== 'view' && !canSeeFullSearch()">
            <app-document-view #documentViewComponent (deleted)="onSearch(searchCriteria); clearDocument();" />
        </div>
    </div>
    <div *ngIf="(displayMode === 'edit' || displayMode === 'add') && loginService.userHasAnyOfRoles(['Administrator', 'Editor'])" class="document-views-small">
        <app-document-edit #documentEditComponent (cancel)="setDisplayMode('search')" (save)="setDisplayMode('search'); loadDocument($event)"/>
    </div>
</div>
    

        