<div class="document-screen-container">
    <div class="document-type-grid">
        <div class="button-holder">
            <button mat-icon-button class="button" (click)="router.navigate(['/home'])">
                <mat-icon> home </mat-icon>
            </button>
            <button mat-icon-button class="button">
                <mat-icon> search </mat-icon>
            </button>
            <button mat-icon-button class="button">
                <mat-icon> library_add </mat-icon>
            </button>
            <button mat-icon-button class="button" [disabled]="currentDocumentTypeId == -1" (click)="editDocumentType()">
                <mat-icon> edit </mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>
        </div>
        <mat-card class="document-type-container" style="height: 100fr">
            <mat-card-content>
                <app-document-type (select)="loadDocumentList($event)" #documentTypeComponent> </app-document-type>
            </mat-card-content>
        </mat-card>
        <mat-card class="paginator-container">
            <mat-paginator [hidePageSize]="true" class="paginator"></mat-paginator>
        </mat-card>
    </div>
    <div class="document-list-grid">
        <mat-card class="document-list-container">
            <mat-card-content>
                <app-document-list (select)="loadDocument($event)" #documentListComponent> </app-document-list>
            </mat-card-content>
        </mat-card>
        <mat-card class="paginator-container">
            <mat-paginator [hidePageSize]="true" class="paginator"></mat-paginator>
        </mat-card>
    </div>
    <div class="document-view-grid">
        <mat-card class="document-view-container">
            <app-document-info 
                #documentInfoComponent 
                *ngIf="!editing" 
                (add)="handleAddDocument($event)"
                (edit)="handleEditDocument($event)"
                (delete)="handleDeleteDocument($event)"
            >
            </app-document-info>
            <app-document-edit 
                #documentEditComponent 
                *ngIf="editing"
                (cancel)="cancelAddEdit($event)"
            > 
            </app-document-edit>
        </mat-card>
    </div>
</div>