<div class="document-screen-container">
    <div class="document-type-grid">
        <div class="button-holder">
            <button mat-icon-button class="button" (click)="router.navigate(['/home'])">
                <mat-icon> home </mat-icon>
            </button>
            <button mat-icon-button class="button">
                <mat-icon> search </mat-icon>
            </button>
            <button mat-icon-button class="button">
                <mat-icon> add </mat-icon>
            </button>
            <button mat-icon-button class="button">
                <mat-icon> edit </mat-icon>
            </button>
        </div>
        <mat-card class="document-type-container" style="height: 100fr">
            <mat-card-content>
                <app-document-type (select)="loadDocumentList($event)" #documentTypeComponent> </app-document-type>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="document-list-grid">
        <mat-card class="document-list-container">
            <mat-card-content>
                <app-document-list #documentListComponent> </app-document-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="document-view-grid">
        <mat-card class="document-view-container">
            <app-document-info> </app-document-info>
        </mat-card>
    </div>
</div>