<div class="screen-container">
    <div class="top-actions-container">
        <div style="display: flex">
            <button mat-icon-button (click)="skeletonService.toggleSidebar()" style="margin-top: 5px; margin-right: 15px;">
                <mat-icon> menu </mat-icon>
            </button>
            <h2 style="margin-top: 10px; margin-bottom: 0px;">Themes</h2>
        </div>
        <button mat-icon-button (click)="skeletonService.toggleSidebar()" style="margin-top: 5px;">
            <mat-icon> add </mat-icon>
        </button>
    </div>
    <div>
        <mat-card>
            
        </mat-card>
    </div>
    
</div>
