<div class="view-param-container">
    <div class="view-param-inner-container">
        <div>
            <h4 class="subtitled-title" [matTooltip]="parameter.typeParameterSummary ?? ''"> {{ parameter.typeParameterName }} </h4>
            <h5 class="subtitle"> {{ parameter.typeParameterSummary }} </h5>
        </div>
        <div class="param-value">
            {{displayValue}} {{displayValue != undefined ? unit?.symbol : ""}}
            <div [matMenuTriggerFor]="unitMenu" (click)="loadUnits()" *ngIf="this.unit && this.displayValue != undefined">
                <div class="arrow-down"></div>
            </div>
        </div>
        <mat-menu #unitMenu>
            <button mat-menu-item *ngFor="let unit of units" (click)="changeUnit(unit)">
                <span>{{unit.name}} ({{unit.symbol}})</span>
            </button>
        </mat-menu>
    </div>
    <mat-divider></mat-divider>
</div>
