<h3 class="subtitled-title">Title</h3>
<h5 class="subtitle">Subtitle</h5>
<div class="button-holder"> 
    <button mat-icon-button>
        <mat-icon> edit </mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon> delete </mat-icon>
    </button>
</div>
<div>
    <app-edit-article></app-edit-article>
    <app-edit-bool></app-edit-bool>
    <app-edit-data-point></app-edit-data-point>
    <app-edit-double></app-edit-double>
    <app-edit-int></app-edit-int>
    <app-edit-string></app-edit-string>
    <app-edit-summary></app-edit-summary>
    <app-view-article></app-view-article>
    <app-view-bool></app-view-bool>
    <app-view-data-point></app-view-data-point>
    <app-view-double></app-view-double>
    <app-view-int></app-view-int>
    <app-view-string></app-view-string>
    <app-view-summary></app-view-summary>
</div>