<div class="button-holder" > 
    <button mat-icon-button (click)="navigateToSelf()" matTooltip="Open in Document View" *ngIf="showLinkToSelf">
        <mat-icon> arrow_forward </mat-icon>
    </button>
    <button mat-icon-button (click)="add.emit(document)" matTooltip="Add" *ngIf="canAdd && showEditControls">
        <mat-icon> library_add </mat-icon>
    </button>
    <button mat-icon-button (click)="onEdit()" *ngIf="document !== undefined && showEditControls && documentType?.id" requireRole [role]="'Library.Document.Type' + (documentType?.id ? ('.' + documentType?.id) : '')" matTooltip="Edit" [enabledDisplay]="'inline'">
        <mat-icon> edit </mat-icon>
    </button>
    <button mat-icon-button (click)="onDelete()" *ngIf="document !== undefined && showEditControls && documentType?.id" requireRole [role]="'Library.Document.Type' + (documentType?.id ? ('.' + documentType?.id) : '')" matTooltip="Delete" [enabledDisplay]="'inline'">
        <mat-icon> delete </mat-icon>
    </button>
    <button mat-icon-button (click)="onClose()" matTooltip="Close" *ngIf="showClose">
        <mat-icon> close </mat-icon>
    </button>
</div>
<h2 class="subtitled-title"> {{ title }} </h2>
<h4 class="subtitle"> {{ subtitle }} </h4>
<div style="margin: 10px">
    <ng-template #parameterContainer></ng-template>
    <h4 *ngIf="locations?.length ?? -1 > 0">Locations</h4>
    <ng-template #locationContainer></ng-template>
    <h4 *ngIf="relatedDocuments?.length ?? -1 > 0">Related Documents</h4>
    <ng-template #relatedDocumentContainer></ng-template>
</div>