<mat-drawer-container class="map-container" >
    <mat-drawer #drawer mode="over" position="end" class="map-sidebar" #sideBar>
        <mat-accordion [multi]="true" class="map-sidebar-accordion">
            <mat-expansion-panel>
                <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
                    <mat-panel-title>
                        Geography
                    </mat-panel-title>
                    <mat-panel-description>
                        
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="expansion-panel-content">
                    <mat-checkbox> Cities </mat-checkbox>
                    <mat-checkbox> Towns </mat-checkbox>
                    <mat-checkbox> Villages </mat-checkbox>
                    <mat-checkbox> Hamlets </mat-checkbox>
                    <mat-checkbox> Fortresses </mat-checkbox>
                </div>
                <div class="expansion-panel-content-wide">
                    <mat-form-field>
                        <input type="tel" matInput placeholder="Filter">
                    </mat-form-field>
                </div>
                <button mat-button class="expansion-panel-apply-button" (click)="applyFilter()">
                    Apply
                </button>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
                    <mat-panel-title>
                        States
                    </mat-panel-title>
                    <mat-panel-description>
                        
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="expansion-panel-content">
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
                    <mat-panel-title>
                        Layers
                    </mat-panel-title>
                    <mat-panel-description>
                        
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="expansion-panel-content">
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-drawer>
    <mat-drawer-content>
        <div class="map-container">
            <div class="map-frame">
                <div id="map"></div>
            </div>
        </div>
    <button mat-raised-button (click)="drawer.toggle()" class="map-overlay-button"><mat-icon>menu</mat-icon></button>
    <button mat-raised-button (click)="addPlaceIcon()" class="map-add-button"><mat-icon>{{ addLocationMarkerIcon }}</mat-icon></button>
    <mat-card class="map-add-topbar" *ngIf="placing">
        <h3> Adding Location </h3>
    </mat-card>
    <mat-card class="map-add-bottombar" *ngIf="placing">
        <h4> Settings </h4>
        <mat-form-field class="settings-field">
            <mat-label>Map Data Type</mat-label>
            <mat-select #mapDataTypeSelect [formControl]="addMapDataTypeControl">
                <mat-option value="0">Location</mat-option>
                <mat-option value="1">Area</mat-option>
                <mat-option value="2">Subregion</mat-option>
                <mat-option value="3">Region</mat-option>
                <mat-option value="4">Subcontinent</mat-option>
                <mat-option value="5">Continent</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="settings-field" *ngIf="mapDataTypeSelect.value != null">
            <mat-label>Name</mat-label>
            <input matInput [formControl]="addNameControl">
            <mat-hint *ngIf="addNameControl.touched && (addNameControl.hasError('minlength') || addNameControl.hasError('required'))">
                {{ addNameControl.hasError('required') ? 'Location Name is required.' : 'Name cannot be larger than 1000 characters.' }}
            </mat-hint>
        </mat-form-field>
        <div *ngIf="mapDataTypeSelect.value == 0">
            <mat-form-field class="settings-field">
                <mat-label>Location Type</mat-label>
                <mat-select #locationTypeSelect [formControl]="addLocationTypeControl" (click)="queryLocationTypes">
                    <mat-option *ngFor="let locationType of locationTypes" [value]="locationType">
                        {{locationType.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="mapDataTypeSelect.value == 0">
            <mat-form-field class="settings-field">
                <mat-label>Area</mat-label>
                <mat-select #areaSelect [formControl]="addAreaControl" (click)="queryAreas">
                    <mat-option *ngFor="let area of areas" [value]="area">
                        {{area.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="mapDataTypeSelect.value == 1">
            <mat-form-field class="settings-field">
                <mat-label>Subregion</mat-label>
                <mat-select #subregionSelect [formControl]="addSubregionControl" (click)="querySubregions">
                    <mat-option *ngFor="let subregion of subregions" [value]="subregion">
                        {{subregion.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="mapDataTypeSelect.value == 2">
            <mat-form-field class="settings-field">
                <mat-label>Region</mat-label>
                <mat-select #regionSelect [formControl]="addRegionControl" (click)="queryRegions">
                    <mat-option *ngFor="let region of regions" [value]="region">
                        {{region.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="mapDataTypeSelect.value == 3">
            <mat-form-field class="settings-field">
                <mat-label>Subcontinent</mat-label>
                <mat-select #subcontinentSelect [formControl]="addSubcontinentControl" (click)="querySubcontinents">
                    <mat-option *ngFor="let subcontinent of subcontinents" [value]="subcontinent">
                        {{subcontinent.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="mapDataTypeSelect.value == 4">
            <mat-form-field class="settings-field">
                <mat-label>Continent</mat-label>
                <mat-select #continentSelect [formControl]="addContinentControl" (click)="queryContinents">
                    <mat-option *ngFor="let continent of continents" [value]="continent">
                        {{continent.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="mapDataTypeSelect.value == 5">
            <mat-form-field class="settings-field">
                <mat-label>Celestial Object</mat-label>
                <mat-select #celestialObjectSelect [formControl]="addCelestialObjectControl" (click)="queryCelestialObjects">
                    <mat-option *ngFor="let celestialObject of celestialObjects" [value]="celestialObject">
                        {{celestialObject.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <p class="coord-display">Latitude:  {{ addMarkerLat | number: '.4-4' }}</p>
        <p class="coord-display">Longitude: {{ addMarkerLng | number: '.4-4' }}</p>
        <button mat-button style="width: 100%" (click)="createLocation()" *ngIf="mapDataTypeSelect.value != null">
            Create
        </button>
    </mat-card>
    </mat-drawer-content>
</mat-drawer-container>
