.layer-item {
    padding-right: 5px;
    margin-bottom: 5px;
    background-color: var(--secondary-accent-color);
}

.carded-button {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.card-image {
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px; 
    height: 50px; 
    width: 100%;
}