<div style="margin: 30px;">
    <app-search-bar #searchBar (search)="search($event)" />
    <div class="image-card-container">
        <mat-card *ngFor="let image of images" class="image-card" [matTooltip]="image.description">
            <mat-card-content class="image-card-content">
                <app-thumbnail-view [image]="image" (onClick)="onClick(image)" />
            </mat-card-content>
            <p class="description" *ngIf="query">{{image.description}}</p>
        </mat-card>
    </div>
</div>
<mat-card class="paginator-container">
    <mat-paginator 
        [hidePageSize]="true" 
        [length]="pageLength"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event); navigate()"
        style="background-color: #00000000;"
    ></mat-paginator>
</mat-card>