<mat-card-header>
    <mat-card-title> 
        <h2>
            Change Password
        </h2> 
    </mat-card-title>
</mat-card-header>
<mat-card-content>
    <app-edit-string [parameterName]="'Old Password'" [control]="oldPassword"></app-edit-string>
    <app-edit-string [parameterName]="'New Password'" [control]="pass1"></app-edit-string>
    <app-edit-string [parameterName]="'Repeat New Password'" [control]="pass2"></app-edit-string>
</mat-card-content>
<mat-card-actions align="end">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button color="primary" (click)="submit()" [disabled]="!canSubmit()">Change Password</button>
</mat-card-actions>