<div [ngSwitch]="setting.type" class="edit-setting-container">
    <p>{{setting.name}}</p>
    <app-edit-color #fieldComponent [(model)]="setting.value" *ngSwitchCase="'color'" (modelChange)="valueChange.emit()" />
    <app-edit-data-point #fieldComponent [items]="setting.options" [(model)]="setting.value" [clear]="false" *ngSwitchCase="'select'" (modelChange)="valueChange.emit()" />
    <app-edit-string #fieldComponent [(model)]="setting.value" *ngSwitchDefault (modelChange)="valueChange.emit()" />
</div>
