
<div class="document-screen-container">
    <div class="button-holder">
        <button mat-icon-button (click)="returnToDocument()" matTooltip="Back">
            <mat-icon>
                arrow_back
            </mat-icon>
        </button>
    </div>
    <div class="document-type-grid">
        <mat-card>
            <mat-card-title>
                {{ documentType === undefined ? '' : documentType.name }}
            </mat-card-title>
            <mat-card-subtitle>
                {{ documentType === undefined ? '' : documentType.summary }}
            </mat-card-subtitle>
            <div class="floating-button-holder">
                <button mat-icon-button (click)="selectType()" matTooltip="Edit Type Information">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </mat-card>
        <mat-card class="document-type-container">
            <mat-card-content>
                <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let parameter of documentType?.typeParameters" cdkDrag>
                        <mat-card class="type-parameter-box" [style.background-color]="parameter.selected ? 'var(--secondary-accent-color-selected)' : 'var(--secondary-accent-color)'" (click)="select(parameter)">
                            <mat-card-title>
                                {{ parameter.name }}
                            </mat-card-title>
                            <mat-card-subtitle>
                                {{ parameter.summary }}
                            </mat-card-subtitle>
                            <div>
                                <mat-icon style="margin-bottom: -5px">
                                    {{ iconMap.iconMap.get(parameter.typeValue) }}
                                </mat-icon>
                                {{ iconMap.nameMap.get(parameter.typeValue) }}
                            </div>
                        </mat-card>
                    </div>
                </div>
                <button mat-button class="add-parameter-button" [matMenuTriggerFor]="addParameterMenu" matTooltip="Add Parameter">
                    <mat-icon>
                        add
                    </mat-icon>
                </button>
                <mat-menu #addParameterMenu class="parameter-menu">
                    <button mat-menu-item class="parameter-menu-item" (click)="add('doc')">
                        <mat-icon>
                            {{ iconMap.iconMap.get('doc') }}
                        </mat-icon>
                        {{ iconMap.nameMap.get('doc') }}
                    </button>
                    <button mat-menu-item class="parameter-menu-item" (click)="add('bit')">
                        <mat-icon>
                            {{ iconMap.iconMap.get('bit') }}
                        </mat-icon>
                        {{ iconMap.nameMap.get('bit') }}
                    </button>
                    <button mat-menu-item class="parameter-menu-item" (click)="add('dub')">
                        <mat-icon>
                            {{ iconMap.iconMap.get('dub') }}
                        </mat-icon>
                        {{ iconMap.nameMap.get('dub') }}
                    </button>
                    <button mat-menu-item class="parameter-menu-item" (click)="add('dat')">
                        <mat-icon>
                            {{ iconMap.iconMap.get('dat') }}
                        </mat-icon>
                        {{ iconMap.nameMap.get('dat') }}
                    </button>
                    <button mat-menu-item class="parameter-menu-item" (click)="add('int')">
                        <mat-icon>
                            {{ iconMap.iconMap.get('int') }}
                        </mat-icon>
                        {{ iconMap.nameMap.get('int') }}
                    </button>
                    <button mat-menu-item class="parameter-menu-item" (click)="add('str')">
                        <mat-icon>
                            {{ iconMap.iconMap.get('str') }}
                        </mat-icon>
                        {{ iconMap.nameMap.get('str') }}
                    </button>
                    <button mat-menu-item class="parameter-menu-item" (click)="add('sum')">
                        <mat-icon>
                            {{ iconMap.iconMap.get('sum') }}
                        </mat-icon>
                        {{ iconMap.nameMap.get('sum') }}
                    </button>
                    <button mat-menu-item class="parameter-menu-item" (click)="add('uni')">
                        <mat-icon>
                            {{ iconMap.iconMap.get('uni') }}
                        </mat-icon>
                        {{ iconMap.nameMap.get('uni') }}
                    </button>
                </mat-menu>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <div class="save-cancel-button-holder">
                    <button mat-button (click)="returnToDocument()" [disabled]="saving">
                        <div *ngIf="!saving">
                            Cancel
                        </div>
                        <mat-progress-spinner class="button-loading" mode="indeterminate" *ngIf="saving"></mat-progress-spinner>
                    </button>
                    <button color="primary" (click)="save()" mat-button [disabled]="saving">
                        <div *ngIf="!saving">
                            Save
                        </div>
                        <mat-progress-spinner class="primary-button-loading" mode="indeterminate" *ngIf="saving"></mat-progress-spinner>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-card>
        <mat-card-content>
            <app-edit-document-type-properties
                #editPropertiesComponent
                *ngIf="!parameterSelected"
                (delete)="confirmDelete()"
            />
            <app-edit-type-parameter 
                #editParameterComponent 
                *ngIf="parameterSelected"
                (delete)="deleteParameter($event)"
            />
        </mat-card-content>
    </mat-card>
</div>