.document-screen-container {
    display: grid;
    grid-template-columns: 55px minmax(200px, 500px) 1fr;
    overflow-y: auto;
    background-color: var(--secondary-background-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
}

.document-type-container {
    height: 1fr;
    margin: 5px;
    overflow-y: auto;
    background-color: var(--primary-color);
}

.document-type-grid {
    display: grid;
    grid-template-rows: 100px auto;
    bottom: 100px;
    overflow-y: auto;
}

mat-card {
    margin: 5px;
    padding: 5px;
}

mat-card-title {
    margin-left: 5px;
}

mat-card-subtitle {
    margin-left: 5px;
}

.button-holder {
    justify-self: center;
    display: grid;
    grid-template-columns: 100%;
    margin: 10px;
    color: var(--text-color);
    
    .button {
        margin-left: 4px;
    }
}

.floating-button-holder {
    position: absolute; 
    right: 5px; 
    top: 17px;
}

.type-parameter-box {
    background-color: var(--secondary-accent-color);
}