<div class="view-container">
    <mat-card class="card-view-header">
        <mat-card-content class="card-view-grid">
            <h3 class="card-view-h">
                {{view.name}}
            </h3>
            <div>
                hi
            </div>
        </mat-card-content>
        
    </mat-card>
    <div class="viewable-card-list">
        <div class="viewable-card-margin-container">
            <mat-card *ngFor="let card of data?.results" class="viewable-card">
                <mat-card-header class="viewable-card-header">
                    <mat-card-title> {{card.name}}</mat-card-title>
                    <mat-card-subtitle> {{card.typeName}} </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="parameter-grid">
                    <app-view-param *ngFor="let param of card.parameters" [parameter]="param" class="card-param" />
                </mat-card-content>
            </mat-card>
        </div>
        
    </div>
    
    <mat-card class="paginator-container">
        <mat-paginator 
            [hidePageSize]="true" 
            [length]="pageLength"
            [pageIndex]="pageIndex"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="onPageChange($event)"
            style="background-color: #00000000;"
        ></mat-paginator>
    </mat-card>
</div>
