.group-header {
    margin: 10px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
}

.menu-item-header {
    margin-left: 0px;
    padding-left: 10px;
}

::ng-deep .mat-mdc-menu-item {
    min-height: 37px !important;
}

.small-button {
    width: 100px; 
    height: 50px; 
    padding: 13px;
}

.small-icon {
    margin-right: 0px; 
    margin-left: 0px; 
    padding-right: 0px; 
    padding-left: 0px; 
}

.bottom-bar {
    height: min-content;
    padding: 5px;
    display: flex;
    justify-content: right;
    width: 1fr
}