<div style="display: grid; grid-template-rows: min-content auto min-content; height: 100%" *ngIf="skeletonService.labels">
    <div>
        <div style="cursor: pointer; padding-left: 5px; margin: 5px;" *ngIf="world?.name || loadingWorld" (click)="navigateHome()">
            <h2>
                {{world?.name}}
            </h2>
        </div>
    </div>
    <div>
        <div *ngFor="let grouping of menuOptions">
            <button mat-menu-item class="menu-item-header" (click)="setGroupingExpanded(grouping, !grouping.expanded)" *ngIf="grouping.options?.length">
                <h4 class="group-header">
                    {{grouping.name}}
                </h4>
            </button>
            <div *ngIf="grouping.expanded">
                <div *ngFor="let option of grouping.options" style="display: grid;">
                    <button mat-menu-item class="menu-item-content" (click)="navigate(option)" *ngIf="option.options?.length || option.route">
                        <mat-icon *ngIf="option.icon"> {{option.icon}} </mat-icon>
                        {{option.name}}
                    </button>
                    <div *ngIf="option.expanded">
                        <div *ngFor="let option2 of option.options" style="display: grid;">
                            <button mat-menu-item class="menu-item-content" (click)="navigate(option2)" style="margin-left: 15px; width: calc(100% - 15px);" *ngIf="option2.options?.length || option2.route">
                                <mat-icon *ngIf="option2.icon"> {{option2.icon}} </mat-icon>
                                {{option2.name}}
                            </button>
                            <div *ngIf="option2.expanded">
                                <div *ngFor="let option3 of option2.options" style="display: grid;">
                                    <button mat-menu-item class="menu-item-content" (click)="navigate(option3)" style="margin-left: 30px; width: calc(100% - 30px);">
                                        <mat-icon *ngIf="option3.icon"> {{option3.icon}} </mat-icon>
                                        {{option3.name}}
                                    </button>
                                    <div *ngIf="option3.expanded">
                                        <div *ngFor="let option4 of option3.options" style="display: grid;">
                                            <button mat-menu-item class="menu-item-content" (click)="navigate(option4)" style="margin-left: 45px; width: calc(100% - 45px);">
                                                <mat-icon *ngIf="option4.icon"> {{option4.icon}} </mat-icon>
                                                {{option4.name}}
                                            </button>
                                            <div *ngIf="option4.expanded">
                                                <div *ngFor="let option5 of option4.options" style="display: grid;">
                                                    <button mat-menu-item class="menu-item-content" (click)="navigate(option5)" style="margin-left: 60px; width: calc(100% - 60px);">
                                                        <mat-icon *ngIf="option5.icon"> {{option5.icon}} </mat-icon>
                                                        {{option5.name}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        <button mat-icon-button (click)="this.toggleLabels()" *ngIf="displayExpanded" matTooltip="Show Less">
            <mat-icon> chevron_left </mat-icon>
        </button>
        <button mat-icon-button (click)="this.selectTheme()" *ngIf="displayExpanded && inWorld" matTooltip="Select Theme">
            <mat-icon> brush </mat-icon>
        </button>
        <button mat-icon-button *ngFor="let option of bottomBarMenuOptions" [matTooltip]="option.name" (click)="navigate(option)">
            <mat-icon>{{option.icon}}</mat-icon>
        </button>
    </div>
</div>

<div *ngIf="!skeletonService.labels" style="overflow: hidden">
    <div *ngFor="let grouping of menuOptions">
        <div *ngFor="let option of grouping.options" style="display: flex;">
            <app-skeleton-nav-bar-item [option]="option" (navigate)="navigate($event)" />
        </div>
    </div>
    <div style="display: flex;" >
        <button mat-menu-item class="menu-item-content" (click)="this.toggleLabels()" class="small-button">
            <mat-icon style="margin-right: 0px; margin-left: 0px; padding-right: 0px; padding-left: 0px;"> chevron_right </mat-icon>
        </button>
    </div>
</div>