
<div *ngIf="skeletonService.labels">
    <div *ngFor="let grouping of menuOptions">
        <button mat-menu-item class="menu-item-header" (click)="setGroupingExpanded(grouping, !grouping.expanded)">
            <h4 class="group-header">
                {{grouping.name}}
            </h4>
        </button>
        <div *ngIf="grouping.expanded">
            <div *ngFor="let option of grouping.options" style="display: flex;" (click)="navigate(option)">
                <button mat-menu-item class="menu-item-content">
                    <mat-icon> {{option.icon}} </mat-icon>
                    {{option.name}}
                </button>
            </div>
        </div>
    </div>
    <button mat-menu-item class="menu-item-header" (click)="setDisplayExpanded()">
        <h4 class="group-header">
            Display
        </h4>
    </button>
    <button mat-menu-item class="menu-item-content" (click)="this.selectTheme()" *ngIf="displayExpanded && inWorld">
        <mat-icon> brush </mat-icon>
        Select Theme
    </button>
    <button mat-menu-item class="menu-item-content" (click)="this.toggleLabels()" *ngIf="displayExpanded">
        <mat-icon> chevron_left </mat-icon>
        Show less
    </button>
</div>
<div *ngIf="!skeletonService.labels">
    <div *ngFor="let grouping of menuOptions">
        <div *ngFor="let option of grouping.options" style="display: flex;" (click)="navigate(option)">
            <button mat-menu-item class="small-button">
                <mat-icon style="margin-right: 0px; margin-left: 0px; padding-right: 0px; padding-left: 0px;"> {{option.icon}} </mat-icon>
            </button>
        </div>
    </div>
    <div style="display: flex;" >
        <button mat-menu-item class="menu-item-content" style="justify-content: right;" (click)="this.toggleLabels()" class="small-button">
            <mat-icon style="margin-right: 0px; margin-left: 0px; padding-right: 0px; padding-left: 0px;"> chevron_right </mat-icon>
        </button>
    </div>
</div>
