<mat-card class="calendar-select-card">
    <mat-card-header>
        <mat-card-title>
            Select Calendar
        </mat-card-title>
    </mat-card-header>
    <div class="calendar-list">
        <mat-card class="calendar-card" *ngFor="let cal of calendarService.calendars" (mouseover)="cal.selected=true" (mouseout)="cal.selected=false" (click)="select(cal)">
            <mat-icon class="icon-over" *ngIf="cal.selected"> calendar_month </mat-icon>
            <mat-icon class="icon-over" *ngIf="!cal.selected"> calendar_today </mat-icon>
            <div class="label-over">
                <p> {{ cal.name | valueShorten: 18:1 }} </p>
            </div>
        </mat-card>
    </div>
</mat-card>
