<mat-card-header>
    <mat-card-title>
        <h2> {{title}} </h2>
    </mat-card-title>
</mat-card-header>
<mat-card-content>
    <img src={{tempUrl}} class="image-preview">
    <p>
        {{content}}
    </p>
    <button type="button" mat-button (click)="fileInput.click()">Choose File</button>
    {{fileName}}
    <input hidden (change)="onFileSelected()" #fileInput type="file" id="file" [accept]="options">
    <div class="bottom-corner-button-container">
        <button type="button" class="bottom-corner-button" mat-button (click)="cancelChoice()">Cancel</button>
        <button type="button" class="bottom-corner-button" mat-button (click)="confirmChoice()" color="primary">Save</button>
    </div>
</mat-card-content>
