<mat-card-header style="display: grid; grid-template-columns: auto min-content;">
    <mat-card-title *ngIf="title">
      {{title}}
    </mat-card-title>
</mat-card-header>
<div style="padding: 10px;">
    <div *ngFor="let item of items">
        <app-edit-string [(model)]="item.value" [parameterName]="item.name" [parameterSummary]="item.description" (modelChange)="onChange()" *ngIf="!item.type && !item.options?.length" />
        <app-edit-selection (modelChange)="onChange()" *ngIf="!item.type && item.options?.length" [title]="item.name" [description]="item.description" [items]="item.options" keyIdentifier="value" nameIdentifier="name" [model]="item" />
        <mat-divider *ngIf="item.type == 'divider'" style="margin-bottom: 10px;" />
    </div>
</div>
