<h2 class="subtitled-title"> {{ addEditTitle }} </h2>
<h4 class="subtitle"> {{ documentType?.summary }} </h4>
<div class="common-attributes-container">
    <h4 class="subtitled-title"> Name </h4>
    <mat-form-field style="width: 100%; max-width: 500px;" appearance="outline">
        <input matInput [formControl]="nameControl">
    </mat-form-field>
</div>

<ng-template #parameterContainer></ng-template>
<div class="button-holder">
    <button mat-button (click)="cancel.emit()"> Cancel </button>
    <button mat-button (click)="save.emit()" color="primary"> Save </button> 
</div>