<mat-card class="edit-document-container">
    <mat-card-header style="margin-bottom: 30px;">
        <mat-card-title style="word-break: break-all; text-wrap: pretty">
            {{ addEditTitle | valueShorten: 100:1 }}
        </mat-card-title>
        <mat-card-subtitle style="word-break: break-all; text-wrap: pretty; max-height: 100px; overflow: auto;">
            {{ documentType?.summary }}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <app-edit-data-point *ngIf="!editing" [parameterName]="'Document Type'" [selectedItem]="selectedDocType" [items]="documentTypes" (selected)="setDocumentType($event.id)" [clear]="false" #docTypeSelector />
        <div style="margin-bottom: 38px;">
            <app-form-field-basic [parameter]="nameParam" />
        </div>
        <mat-divider *ngIf="document" style="margin-bottom: 38px;" />
        <app-document-form [document]="document" />
    </mat-card-content>    
    <mat-card-footer>
        <div class="button-holder">
            <button mat-button (click)="onCancel()"> Cancel </button>
            <button mat-button (click)="saveDocument(true)" color="primary" [disabled]="canSave()" *ngIf="!editing && !duplicating"> Save and Add Another </button> 
            <button mat-button (click)="saveDocument(true)" color="primary" [disabled]="canSave()" *ngIf="duplicating"> Save and Duplicate </button> 
            <button mat-button (click)="saveDocument(false)" color="primary" [disabled]="canSave()"> Save </button> 
        </div>
    </mat-card-footer>
</mat-card>
