<div>
    <app-edit-string 
        #titleComponent 
        [parameterName]="'Parameter Name'" 
        [parameterSummary]="'The Display Name of this parameter.'" 
        [placeholder]="'\'\'Item\'\', \'\'Food\'\', \'\'Person\'\'...'"
        (valueChanged)="onTitleChanged($event)"
    >
    </app-edit-string>
    <app-edit-summary 
        #summaryComponent 
        [parameterName]="'Parameter Summary'" 
        [parameterSummary]="'A brief description of this parameter.'" 
        [placeholder]="'A man is a featherless biped...'"
        (valueChanged)="onSummaryChanged($event)"
    >
    </app-edit-summary>
    <app-edit-type-parameter-data-point #dataPointComponent />

    <button mat-button class="destructive-button" (click)="confirmDeleteObject()">
        Delete Parameter
    </button>   
</div>