<div>
    <app-edit-string 
        #titleComponent 
        [parameterName]="'Parameter Name'" 
        [parameterSummary]="'The Display Name of this parameter.'" 
        [placeholder]="'\'\'Item\'\', \'\'Food\'\', \'\'Person\'\'...'"
        (valueChanged)="onTitleChanged($event)"
    >
    </app-edit-string>
    <app-edit-summary 
        #summaryComponent 
        [parameterName]="'Parameter Summary'" 
        [parameterSummary]="'A brief description of this parameter.'" 
        [placeholder]="'A man is a featherless biped...'"
        (valueChanged)="onSummaryChanged($event)"
    >
    </app-edit-summary>
    <app-edit-bool
        #multiComponent
        parameterName="List"
        parameterSummary="Whether or not this is a list of values, or just one."
        (valueChanged)="onMultipleChanged($event)"
    >
    </app-edit-bool>
    <app-edit-type-parameter-data-point #dataPointComponent />
    <app-edit-type-parameter-unit #unitComponent />
    <app-edit-type-parameter-time #timeComponent />
    <button mat-button class="destructive-button" (click)="confirmDeleteObject()">
        Delete Parameter
    </button>   
</div>