<mat-drawer-container class="map-container" [hasBackdrop]="false">
    <mat-drawer #sideDrawer mode="over" position="end" class="map-sidebar" [disableClose]="true">
        <div [ngStyle]="{display: !viewingObject ? 'block' : 'none'}">
            <mat-accordion [multi]="true" class="map-sidebar-accordion">
                <h3>
                    Map Settings
                </h3>
                <mat-expansion-panel>
                    <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
                        <mat-panel-title>
                            Map
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                        <div style="display: grid; grid-template-columns: auto 160px;">
                            <div style="display: grid; grid-template-columns: auto 60px;">
                                <div>
                                    <h3 class="subtitled-title"> {{ mapData.name }} </h3>
                                    <h4 class="subtitle"> {{ mapData.summary }} </h4>
                                    <button mat-button style="margin-left: 10px; margin-top: 30px;" (click)="changeMap()"> Change Map </button>
                                </div>
                                <div *ngIf="loginService.isLoggedIn()">
                                    <button mat-icon-button style="margin: 10px" matTooltip="Edit Map Settings" (click)="editMap()">
                                        <mat-icon>
                                            edit
                                        </mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div>
                                <mat-card class="map-card-over" style="z-index: 1000; position: absolute; " *ngIf="mapIconHovered && loginService.isLoggedIn()">
                                    <mat-icon>edit</mat-icon>
                                </mat-card>
                                <img 
                                    class="map-card" 
                                    [src]="mapData.url" 
                                    *ngIf="!(mapData.url === null || mapData.url === '')" 
                                    (mouseover)="mapIconHovered=true" 
                                    (mouseout)="mapIconHovered=false"
                                    (click)="editMapIcon()"
                                />
                                <mat-card 
                                    class="map-card" 
                                    *ngIf="(mapData.url === null || mapData.url === '')" 
                                    (mouseover)="mapIconHovered=true" 
                                    (mouseout)="mapIconHovered=false"
                                    (click)="editMapIcon()"
                                >
                                    <mat-icon *ngIf="!mapIconHovered">map</mat-icon>
                                </mat-card>
                            </div>
                        </div>
                        <mat-card style="margin-top: 10px; background-color: var(--secondary-background-color)"  *ngIf="loginService.isLoggedIn()">
                            <mat-card-header>
                                <mat-card-content style="width: 100%; font-size: 15px;">
                                    <p>Loops: {{ mapData.loops ? "Yes" : "No" }}</p>
                                    <mat-divider></mat-divider>
                                    <p>Default Latitude: {{ mapData.defaultY }}</p>
                                    <p>Default Longitude: {{ mapData.defaultX }}</p>
                                    <p>Default Zoom Level: {{ mapData.defaultZ }}</p>
                                    <div class="button-holder">
                                        <button mat-button (click)="goToDefaultView()">Go</button>
                                        <button mat-button (click)="setDefaultView()">Set</button>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <p>Minimum Zoom: {{ mapData.minZoom }}</p>
                                    <p>Maximum Zoom: {{ mapData.maxZoom }}</p>
                                    <mat-divider></mat-divider>
                                    <p>Default Map: {{ mapData.isDefault ? "Yes" : "No" }}</p>
                                </mat-card-content>
                            </mat-card-header>
                        </mat-card>
                    </ng-template>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
                        <mat-panel-title>
                            Layers
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                        <app-map-layers [mapId]="mapData.id" #mapLayersComponent (layerSelectionChanged)="layerSelectionChanged($event)" (saved)="reloadPage()"></app-map-layers>
                    </ng-template>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
                        <mat-panel-title>
                            Location Types
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div matExpansionPanelContent>
                        <app-location-type #locationTypeComponent (filter)="applyFilter()"></app-location-type>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
                        <mat-panel-title>
                            Locations
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div matExpansionPanelContent>
                        <app-filter-location (add)="openAddLocation()"></app-filter-location>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div *ngIf="viewingObject">
            <app-view-location 
                *ngIf="!editingObject && !addingObject" 
                (deleted)="deleteComplete()" 
                (editBegin)="editBegin()" 
                #locationViewer 
                (navigate)="navigateToLocation($event)"
                (hideRegions)="hideRegions()"
                (showRegions)="showRegions($event)"
                (showEdit)="showEdit()"
                (hideEdit)="hideEdit()"
                (saveRegion)="saveRegion()"
            />
            <app-edit-location *ngIf="editingObject || addingObject" (complete)="addEditComplete()" (cancel)="addEditCancel()" [mapId]="mapData.id" #locationEditor [editing]="editingObject">
            </app-edit-location>
        </div>
        <mat-card class="centered-button-card" *ngIf="!editingObject && !addingObject">
            <button mat-icon-button (click)="viewCancel()" class="centered-button">
                <mat-icon>close</mat-icon> 
            </button>
        </mat-card>
    </mat-drawer>
    <mat-drawer-content>
        <div class="map-container">
            <div class="map-frame">
                <div id="map"></div>
            </div>
        </div>
        <div class="map-overlay-buttons-container-left">
            <app-nav-menu [display]="'roundedSquare'" />
        </div>
        <div class="map-overlay-buttons-container-right">
            <button mat-raised-button (click)="openMapSettings()" class="map-overlay-button"><mat-icon>map</mat-icon></button>
            <button mat-raised-button (click)="openAddLocation()" class="map-overlay-button" *ngIf="loginService.isLoggedIn()"><mat-icon>add</mat-icon></button>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
