<div class="pad-container">
    <div class="container">
        <h1>
            Home
        </h1>
        <!--<div class="horizontal-card-container">
            <mat-card class="horizontal-card"> 
                <mat-card-header>
                    <mat-card-title>Featured</mat-card-title>
                    <mat-card-subtitle>Lore chosen for display</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    There is no featured item currently. Check back later!
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button>Learn More</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="horizontal-card"> 
                <mat-card-header>
                    <mat-card-title>News</mat-card-title>
                    <mat-card-subtitle>Updates from the Library</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    There is currently no news to show. Check back later!
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button>Read More</button>
                </mat-card-actions>
            </mat-card>
        </div>-->
        <div class="horizontal-card-container">
            <mat-card class="horizontal-card"> 
                <mat-card-header>
                    <mat-card-title>Map</mat-card-title>
                    <mat-card-subtitle>View the world for yourself.</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button (click)="router.navigate(['/map'])">Go</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="horizontal-card"> 
                <mat-card-header>
                    <mat-card-title>Find</mat-card-title>
                    <mat-card-subtitle>Find a document, person, or anything else.</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button (click)="router.navigate(['/document'])">Go</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="horizontal-card"> 
                <mat-card-header>
                    <mat-card-title>Timeline</mat-card-title>
                    <mat-card-subtitle>Check out events in chronological order.</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    Timeline content
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button (click)="router.navigate(['/timeline'])">Go</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>