<app-top-bar></app-top-bar>
<div [ngStyle]=style>
    <div class="container">
        <h1>
            {{world?.name}}
        </h1>
        <div class="horizontal-card-container">
            <mat-card class="horizontal-card"> 
                <mat-card-header>
                    <mat-card-title>Map</mat-card-title>
                    <mat-card-subtitle>View the world for yourself.</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button (click)="router.navigate([urlService.getWorld(), 'map'])">Go</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="horizontal-card"> 
                <mat-card-header>
                    <mat-card-title>Find</mat-card-title>
                    <mat-card-subtitle>Find a document, person, or anything else.</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button (click)="router.navigate([urlService.getWorld(), 'document'])">Go</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="horizontal-card"> 
                <mat-card-header>
                    <mat-card-title>Timeline</mat-card-title>
                    <mat-card-subtitle>Check out events in chronological order.</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    Timeline content
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button (click)="router.navigate([urlService.getWorld(), 'timeline'])">Go</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>