<app-edit-data-point #editCalendar [parameterName]="'Calendar'" [items]="calendars" (selected)="changeCalendar($event)" />
<app-edit-data-point #editFormat [parameterName]="'Format'" [items]="formatters" (selected)="changeFormatter($event)" />
<app-edit-data-point #editTimezone [parameterName]="'Time Zone'" [items]="timeZones" (selected)="changeTimeZone($event)" />
<div style="display: grid; grid-gap: 5px; grid-template-columns: 1fr 1fr 1fr; margin-top: 20px;">
    <button mat-button (click)="onCancel()"> Cancel </button>
    <button mat-button (click)="onApplyAndClose()"> Apply and Close </button>
    <button mat-button color="primary" (click)="onApply()"> Apply </button>
</div>