.parameter-title {
    color: var(--lib-secondary-text-color);
    font-size: 10pt;
    text-wrap: wrap;
    word-break: break-all;
}

.parameter-value {
    text-wrap: wrap;
    word-break: break-all;
}