<div class="calendar-container" [style]="'grid-template-rows: min-content min-content repeat(' + weeks.length + ', minmax(0, 1fr));'">
    <div class="picker-header">
        <button mat-icon-button (click)="scrubMonth(-1)">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <div class="month-year-label-control">
            <div class="month-year-label-container">
                <button mat-button class="month-year-label month-label mat-elevation-z0" (click)="changeMonth.emit();">
                    {{calendar.months[dateTimeObject.month - 1].name}}
                </button>
                <div *ngIf="!useBaseYear">
                    <button mat-button class="month-year-label era-label mat-elevation-z0" *ngFor="let era of dateTimeObject.era; index as i" (click)="changeEra.emit(i)">
                        {{era?.eraNumber}}
                    </button>
                </div>
                <button mat-button class="month-year-label year-label mat-elevation-z0" *ngIf="!useBaseYear" (click)="changeYear.emit()">
                    {{dateTimeObject.eraYear}}
                </button>
                <button mat-button class="month-year-label year-label mat-elevation-z0" *ngIf="useBaseYear" (click)="changeYear.emit()">
                    {{dateTimeObject.year}}
                </button>
            </div>
        </div>
        <button mat-icon-button (click)="scrubMonth(1)">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
    <div class="calendar-grid-header" [style]="'grid-template-columns: repeat(' + weekdays.length + ', minmax(0, 1fr))'">
        <div *ngFor="let w of weekdays" class="calendar-header">
            {{w.formatter ? w.formatter : w.name}}
        </div>
    </div>
    <div class="calendar-grid-header" [style]="'grid-template-columns: repeat(' + weekdays.length + ', minmax(0, 1fr));'" *ngFor="let week of weeks">
        <button mat-button class="calendar-day" [style]="'background-color: ' + (day.month == dateTimeObject.month ? 'var(--secondary-accent-color)' : 'var(--lib-primary-color)')" *ngFor="let day of week.days" (click)="onSelect(day)">
            {{day.day}}
        </button>
    </div>
</div>