p {
    font-size: 12pt;
    font-weight: normal;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

mat-divider {
    background-color: var(--lib-secondary-text-color);
}

mat-expansion-panel { 
    border-style: solid;
    border-width: 1px;
    border-color: var(--lib-secondary-text-color);
}