.subtitled-title {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 100px;
}

.button-holder {
    float: right;
}

.subtitle {
    margin-top: 0px;
    padding-left: 10px;
    color: var(--secondary-text-color);
}