<div class="fill-absolute">
    <h2 style="position: absolute; left: 10px;">Search Bins</h2>
    <div style="position: absolute; top: 50px; bottom: 0; left: 0; right: calc(100% - 250px); padding: 10px; overflow: auto;">
        <button mat-button class="item" *ngFor="let sb of this.view.searchCriteriaOptions?.criteria?.searchBinCriteria; index as i" (click)="select(sb, i)" [ngStyle]="{backgroundColor: i == selectedIndex ? 'var(--lib-primary-accent-color-selected)' : 'var(--lib-primary-accent-color)'}">
            <mat-card-content>
                {{sb.name}}
            </mat-card-content>
        </button>
        <button mat-button class="item-add" (click)="add()">
            <mat-card-content>
                <mat-icon>add</mat-icon>
            </mat-card-content>
        </button>
    </div>
    <div style="position: absolute; top: 50px; bottom: 0; left: 250px; right: 0">
        <app-form [thin]="true" *ngIf="selected" [items]="items" (valueChange)="change($event)" />
        <button style="margin-left: 10px;" mat-button *ngIf="selected" (click)="selectParameters()">Select Parameters... ({{this.selected.parameters.length}} selected)</button>
    </div>
</div>