<h4 class="subtitled-title"> {{ parameterName }} </h4>
<h5 class="subtitle"> {{ parameterSummary }} <h5>
<mat-form-field class="settings-field" appearance="outline">
    <input matInput placeholder="0.00" [formControl]="control" (input)="validate($event)"/>
    <mat-hint *ngIf="control.touched && (control.hasError('minlength') || control.hasError('required'))">
        {{ control.hasError('required') ? 'Field is required.' : 'Field cannot be larger than 1000 characters.' }}
    </mat-hint>
</mat-form-field>