<mat-card 
    *ngFor="let theme of themes" 
    [style.background-color]="theme['--lib-primary-color']" 
    style="margin: 5px; max-width: 700px; margin-right: auto; margin-left: auto;"
>
    <mat-card-content style="display: grid; grid-template-columns: auto min-content min-content; grid-gap: 10px;">
        {{theme.name}}
        <div style="display: flex">
            <button mat-icon-button color="primary" (click)="this.edit.emit(theme)">
                <mat-icon> edit </mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="this.delete.emit(theme)">
                <mat-icon> delete </mat-icon>
            </button>
        </div>
        <button mat-button color="primary" (click)="selectTheme(theme)">
            Select
        </button>
    </mat-card-content>
</mat-card>