<div style="margin-bottom: 10px;">
    <h4 class="subtitled-title"> {{ parameterName }} </h4>
    <h5 class="subtitle"> {{ parameterSummary }} </h5>
    <h5 class="subtitle" style="display: flex;" *ngIf="displaySearchOptions"> 
        ({{ selectedFilterOption.name }})
        <div [matMenuTriggerFor]="filterMenu">
            <div class="arrow-down"></div>
        </div>
    </h5>
    <mat-menu #filterMenu>
        <button mat-menu-item *ngFor="let opt of filterOptions" (click)="selectedFilterOption = opt">
            <span>{{opt.name}}</span>
        </button>
    </mat-menu>
    <mat-checkbox [formControl]="control" (input)="validate($event)"> </mat-checkbox>
    <mat-hint *ngIf="control.touched && (control.hasError('minlength') || control.hasError('required'))">
        {{ control.hasError('required') ? 'Field is required.' : 'Field cannot be larger than 1000 characters.' }}
    </mat-hint>
</div>