<app-settings-topbar pageName="Users" [showAdd]="true" />
<div style="margin-left: auto; margin-right: auto; max-width: 1000px">
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> User </th>
        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
      </ng-container>
      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef> Roles </th>
        <td mat-cell *matCellDef="let element" style="padding: 10px;">
            <div *ngFor="let role of element.roles" style="margin-right: 200px;">
                {{role}}
            </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="editUser(element)" *ngIf="loginService.userHasAnyOfRoles(['Administrator', 'Editor'])">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteUser(element)" *ngIf="loginService.userHasAnyOfRoles(['Administrator', 'Editor'])">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>