<div class="calendar-picker-container">
    <div></div>
    <mat-card style="background-color: var(--secondary-background-color); margin-top: 10px;">
        <p class="calendar-picker-value-display" *ngIf="displayMode === 'day'">{{displayValue}}</p>
        <mat-card-actions align="end" *ngIf="displayMode === 'day'">
            <button mat-icon-button matTooltip="Calendar Settings" (click)="this.displayMode = 'options'">
                <mat-icon> calendar_today </mat-icon>
            </button>
            <button mat-icon-button matTooltip="Clear" (click)="clear()">
                <mat-icon> close </mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    <div></div>
    <div></div>
    <div class="calendar-picker-inner-container">
        <div></div>
        <app-calendar-picker-day-select 
            [calendar]="calendar" 
            [useBaseYear]="useBaseYear"
            [(time)]="dateTime" 
            (changeMonth)="displayMode = 'month'" 
            (select)="select($event)" 
            (changeEra)="changeEra($event)" 
            (changeYear)="changeEra(calendar.eras.length)"
            *ngIf="displayMode === 'day'" 
        />
        <app-calendar-picker-month-select [calendar]="calendar" [(time)]="dateTime" (done)="displayMode = 'day'" *ngIf="displayMode === 'month'" />
        <app-calendar-picker-year-select [calendar]="calendar" *ngIf="displayMode === 'year'" [useBaseYear]="useBaseYear" />
        <app-calendar-picker-era-select 
            [calendar]="calendar" 
            [eraIndex]="eraToChange" 
            [currentTime]="eraToChangeTime" 
            [useBaseYear]="useBaseYear"
            [(time)]="dateTime" 
            (timeChange)="displayMode = 'day'"
            *ngIf="displayMode === 'era'"
        />
        <app-calendar-picker-options [inputCalendar]="calendar" [inputFormatter]="format" [inputTimeZone]="timeZone" (done)="handleSetOptions($event)" *ngIf="displayMode === 'options'" />
    </div>
</div>