<app-settings-topbar pageName="Views" [showAdd]="true" (add)="add()" [addRole]="'Library.Setup.Pages'" />
<div class="view-container">
    <div class="views-list-container">
        <mat-card class="views-list">
            <mat-card-header>
                <mat-card-title>
                    Views
                </mat-card-title>
            </mat-card-header>
            <div class="view-items">
                <button mat-button class="view-item" *ngFor="let view of views" (click)="select(view)" [ngStyle]="{backgroundColor: view.id == selectedView?.id ? 'var(--lib-primary-accent-color-selected)' : 'var(--lib-primary-accent-color)'}">
                    <mat-card-content>
                        {{view.name}}
                    </mat-card-content>
                </button>
            </div>
            <mat-card-footer>
                <mat-paginator 
                    [length]="pageLength"
                    [pageIndex]="pageIndex"
                    [pageSize]="pageSize"
                    (page)="onPageChange($event)"
                    [hidePageSize]="true"
                    style="background-color: #00000000;"
                ></mat-paginator>
            </mat-card-footer>
        </mat-card>
    </div>
    <div class="views-view-container-outer">
        <div class="views-view-container">
            <app-view-edit *ngIf="selectedView" [view]="selectedView" (close)="onEditorClose()" (delete)="onEditorDelete($event)" (save)="onEditorSave($event)" (change)="changes = $event" />
        </div>
    </div>
</div>