<div>
    <h4 class="subtitled-title"> {{ parameterName }} </h4>
    <h5 class="subtitle"> {{ parameterSummary }} </h5>
    <h5 class="subtitle" style="display: flex;" *ngIf="displayFilterOptions"> 
        ({{ selectedFilterOption.name }})
        <div [matMenuTriggerFor]="filterMenu">
        </div>
    </h5>
    <mat-menu #filterMenu>
        <button mat-menu-item *ngFor="let opt of filterOptions" (click)="selectedFilterOption = opt">
            <span>{{opt.name}}</span>
        </button>
    </mat-menu>
    <mat-form-field appearance="outline">
        <textarea matInput [formControl]="control" [placeholder]="placeholder"> </textarea>
    </mat-form-field>
</div>