.view-location-container {
    max-width: 500px;
    min-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.view-location-content-container {
    overflow-y: auto;
}

.subtitled-title {
    margin-bottom: 5px;
    padding-right: 100px;
}

.button-holder {
    position: absolute; 
    right: 5px; 
    top: 17px;
}

.subtitle {
    margin-top: 0px;
    color: var(--secondary-text-color);
}

.column-content {
    max-width: 600px;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: max-content;
    grid-row: auto;
}

.tree-view {
    text-align: center;
}

.divider-upright {
    height: 20px;
    width: 50%;
    border-color: var(--secondary-text-color);
}