<mat-card class="calendar-detail-container">
    <mat-card-header class="detail-header-container">
        <mat-card-title>
            {{calendar.name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{calendar.summary}}
        </mat-card-subtitle>
        <div>
            <button mat-icon-button matTooltip="Edit" (click)="onEdit()">
                <mat-icon>
                    edit
                </mat-icon>
            </button>
            <button mat-icon-button matTooltip="Close" (click)="onCancel()">
                <mat-icon>
                    close
                </mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="calendar-detail-grid">
            <div>
                
            </div>
            <div>
                <app-edit-datetime [calendar]="calendar" [(model)]="testerModel" />
            </div>
        </div>
    </mat-card-content>
</mat-card>