.calendar-detail-container {
    min-width: 200px;
}

.detail-header-container {
    display: flex;
    justify-content: space-between
}

.calendar-detail-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto max-content;
}